body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
.content-form{
    overflow: hidden;
    background-color: beige;
    width: 95%;
    padding: 5px;
    margin: 5px;
    height: auto;
    align-content: center;
}
.content-form input{
    width: 95%;
    display: inline-block;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
.content-form textarea{
    width: 95%;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
.content-form button{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 50%;
    background-color: darkslateblue;
    color: #FFF;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-left: 20%;
    transition: .3s;
    text-transform: uppercase;
}
.content-form button:hover{
    border-radius: 3px;
    background-color: blue;
}


.content-tareas{
    overflow: hidden;
    background-color: beige;
    width: 95%;
    margin: 5px;
    height: auto;
    align-content: center;
    max-height: 45dvh;
    overflow-y: scroll;
}
.resTarea{
    background-color: gray;
    margin: 3px;
    width: 95%;
    padding: 3px;
}
.resTarea label, p{
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.resTarea button{
    display: inline-block;
    margin: 0 5%;
    width: 30%;
    border: none;
    border-radius: 5px;
    height: 25px;
    transition: .3s;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.resTarea button:hover{
    border-radius: 3px;
}
.btn-delete{
    background-color: red;
    color: #FFF;
}
.btn-editar{
    background-color: greenyellow;
}